amqp==5.1.1
Django==4.2
djangorestframework==3.14.0
django-extensions==3.2.1
django-filter==23.2
psycopg2-binary==2.9.6
redis==4.5.5
gunicorn==20.1.0
celery==5.2.7
python-dotenv==1.0.0
requests==2.30.0
django-celery-results==2.5.1
flake8==6.0.0
feedparser==6.0.10
drf_spectacular==0.26.2
mkdocstrings==0.21.2
mkdocs==1.4.2
mkdocs-material==9.1.8
mkdocstrings-python==0.9.0
django-stubs==4.2.0
djangorestframework-stubs[compatible-mypy]==3.14.0
celery-stubs==0.1.3
